body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.code-box-demo .ant-slider {
  margin-bottom: 16px;
}

.search {
  margin: 3px;
}
.slider{
  margin-top: 50px;
}

.card-person{
  margin: 3px;
  padding: 2px;
  border: 1px solid #000; /* Рамка вокруг текста */
  border-radius: 4px;
}
.is-inactive{
color: green;
}

.portal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  border-color: green;
  border-width: 1px ;
}

.modal {
  width: 450px;
  height: 100px;
  background: #ffffff;
  padding: 10px;
  border-radius: 7px;
  border-color: green;
  border-width: 1px ;
}
.modal-positive {
  width: 350px;
  height: 50px;
  background: #ffffff;
  padding: 10px;
  border-radius: 7px;
  border-color: green;
  border-width: 1px ;
}

/* The Modal (background) */
.modal-wrapper {
  border-color: green;
  border-width: 1px ;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.flex-container{
  display: flex;
  align-items:flex-start;
  justify-content: center;
}
.flex-block-filter{
  flex-grow:1;
  flex-flow: column wrap;
  min-width: 250px;
}

.flex-block-list{
  flex-grow:4;
  flex-flow: column wrap;
  margin-left: 20px;
}
.flex-block-test{
  align-self: stretch;
  /*flex-flow: column wrap;*/
}



.flex-container-for-filter{
  display: flex;
  justify-content: flex-start;
  align-items:stretch;
  flex-direction:column;
}

.flex-container-for-modal{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  align-content:center;
}

.flex-container-for-modal-positive{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  align-content:center;
}

.dropdown-my{
  border-color: cornflowerblue;
  border-radius: 5px;
  margin-left: 10px;
  width: 100px;
}
.gender-dropdown{
  width: 80px;
  margin-left: 2px;
}
.age-min{
  margin-left: 1px;
  margin-right:10px;
}
.age-max{
  margin-left: 1px;
  margin-right:10px;
}
.content{
  padding: 0 50px;
  margin-top: 64px;
}